BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; BACKGROUND: #b6b7bc; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #696969; PADDING-TOP: 0px; FONT-FAMILY: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif
}
A:link {
	COLOR: #034af3
}
A:visited {
	COLOR: #034af3
}
A:hover {
	COLOR: #1d60ff; TEXT-DECORATION: none
}
A:active {
	COLOR: #034af3
}
P {
	MARGIN-BOTTOM: 10px; LINE-HEIGHT: 1.6em
}
H1 {
	FONT-WEIGHT: 200; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 0px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-VARIANT: small-caps
}
H2 {
	FONT-WEIGHT: 200; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 0px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-VARIANT: small-caps
}
H3 {
	FONT-WEIGHT: 200; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 0px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-VARIANT: small-caps
}
H4 {
	FONT-WEIGHT: 200; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 0px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-VARIANT: small-caps
}
H5 {
	FONT-WEIGHT: 200; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 0px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-VARIANT: small-caps
}
H6 {
	FONT-WEIGHT: 200; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 0px; TEXT-TRANSFORM: none; COLOR: #666666; FONT-VARIANT: small-caps
}
H1 {
	FONT-SIZE: 1.6em; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
H2 {
	FONT-WEIGHT: 600; FONT-SIZE: 1.5em
}
H3 {
	FONT-SIZE: 1.2em
}
H4 {
	FONT-SIZE: 1.1em
}
H5 {
	FONT-SIZE: 1em
}
H6 {
	FONT-SIZE: 1em
}
.rightColumn > H1 {
	MARGIN-TOP: 0px
}
.rightColumn > H2 {
	MARGIN-TOP: 0px
}
.leftColumn > H1 {
	MARGIN-TOP: 0px
}
.leftColumn > H2 {
	MARGIN-TOP: 0px
}
.page {
	BORDER-RIGHT: #496077 1px solid; BORDER-TOP: #496077 1px solid; MARGIN: 20px auto 0px; BORDER-LEFT: #496077 1px solid; WIDTH: 960px; BORDER-BOTTOM: #496077 1px solid; BACKGROUND-COLOR: #fff
}
.header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #4b6c9e; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
.header H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: 700; FONT-SIZE: 2em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f9f9f9; BORDER-TOP-STYLE: none; LINE-HEIGHT: 2em; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.main {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; MIN-HEIGHT: 420px; PADDING-BOTTOM: 0px; MARGIN: 12px 8px 8px; PADDING-TOP: 0px
}
.leftCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 200px; PADDING-BOTTOM: 6px; MARGIN: 12px 8px 8px; WIDTH: 200px; PADDING-TOP: 6px
}
.footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #4e5766; LINE-HEIGHT: normal; PADDING-TOP: 8px; TEXT-ALIGN: center
}
DIV.hideSkiplink {
	WIDTH: 100%; BACKGROUND-COLOR: #3a4f63
}
DIV.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.menu UL LI A {
	BORDER-RIGHT: #4e667d 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #4e667d 1px solid; DISPLAY: block; PADDING-LEFT: 20px; PADDING-BOTTOM: 4px; BORDER-LEFT: #4e667d 1px solid; COLOR: #dde4ec; LINE-HEIGHT: 1.35em; PADDING-TOP: 4px; BORDER-BOTTOM: #4e667d 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #465c71; TEXT-DECORATION: none
}
DIV.menu UL LI A:visited {
	BORDER-RIGHT: #4e667d 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #4e667d 1px solid; DISPLAY: block; PADDING-LEFT: 20px; PADDING-BOTTOM: 4px; BORDER-LEFT: #4e667d 1px solid; COLOR: #dde4ec; LINE-HEIGHT: 1.35em; PADDING-TOP: 4px; BORDER-BOTTOM: #4e667d 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #465c71; TEXT-DECORATION: none
}
DIV.menu UL LI A:hover {
	COLOR: #465c71; BACKGROUND-COLOR: #bfcbd6; TEXT-DECORATION: none
}
DIV.menu UL LI A:active {
	COLOR: #cfdbe6; BACKGROUND-COLOR: #465c71; TEXT-DECORATION: none
}
FIELDSET {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 1em 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #ccc 1px solid
}
FIELDSET P {
	MARGIN: 2px 12px 10px 10px
}
FIELDSET.login LABEL {
	DISPLAY: block
}
FIELDSET.register LABEL {
	DISPLAY: block
}
FIELDSET.changePassword LABEL {
	DISPLAY: block
}
FIELDSET LABEL.inline {
	DISPLAY: inline
}
LEGEND {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: 600; FONT-SIZE: 1.1em; PADDING-BOTTOM: 8px; PADDING-TOP: 2px
}
INPUT.textEntry {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 320px; BORDER-BOTTOM: #ccc 1px solid
}
INPUT.passwordEntry {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 320px; BORDER-BOTTOM: #ccc 1px solid
}
DIV.accountInfo {
	WIDTH: 42%
}
.clear {
	CLEAR: both
}
.title {
	DISPLAY: block; FLOAT: left; WIDTH: auto; TEXT-ALIGN: left
}
.loginDisplay {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 10px; COLOR: white; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.loginDisplay A:link {
	COLOR: white
}
.loginDisplay A:visited {
	COLOR: white
}
.loginDisplay A:hover {
	COLOR: white
}
.failureNotification {
	FONT-SIZE: 1.2em; COLOR: red
}
.bold {
	FONT-WEIGHT: bold
}
.submitButton {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
