<?php
	$pfxFile = "E:/mobao/zhmy.pfx";
	//$pubFile = "C:/roysite/PHP/epay.pem";
	$pubFile = "E:/mobao/epay.cer";
	$pfxpasswd = "zhmy";
	$payReqUrl = "https://trade.mobaopay.com/cgi-bin/netpayment/pay_gate.cgi";
	$queryReqUrl = "https://trade.mobaopay.com/cgi-bin/netpayment/pay_gate.cgi";
	$refundReqUrl = "https://trade.mobaopay.com/cgi-bin/netpayment/pay_gate.cgi";
	
	// http://trade.mobaopay.dev/cgi-bin/netpayment/pay_gate.cgi;
?>
